In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_table("D.txt")

In [4]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data = data

In [18]:
full_sou = "./D.txt"
full_tar = './新建文本文档.txt'
with open(full_sou, 'r') as f:
    context = f.readlines()
    context = list(map(lambda x: x.replace('(',' '),context))
    context = list(map(lambda x: x.replace(')',' '),context))
with open(full_tar, 'w') as f:
        f.writelines(context)

In [33]:
data1 = pd.read_table("新建文本文档.txt",encoding='utf-8',header=None,sep='\t')

In [34]:
data1

                                                     0
0    D 2351 945 2  445 446 0.010680780161072543 0.0...
1    D 2372 1031 2  1292 1295 0.0021811390975336516...
2    D 2263 1117 4  1404 1406 0.19454893109508678 -...
3    D 2262 1103 4  1400 1402 -0.22590010403239696 ...
4    D 2260 1116 4  1396 1398 0.2569119949561558 0....
..                                                 ...
870  D 2363 1565 1  2361 2362 -0.10720924957735876 ...
871  D 2360 1564 1  2358 2359 -0.0732707235859387 -...
872  D 2349 1565 1  2205 2348 -0.04354563056095593 ...
873  D 2014 1564 1  1822 2013 -0.009607103535362538...
874  D 2350 1566 2  2014 2349 -0.13804214554956026 ...

[875 rows x 1 columns]