In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_table("Results.txt",sep=' ')

In [3]:
data

,T,0,0.1,1,0.19963646524368928,0.1421305484142543,0.3502037104474828,0.12922290909571693,0.1460819448371638,0.21306021190779478,0.31269414201358653,0.016237396257096515,0.15916386299232135,0.11825673372543391
0,T,2.000000,1.000000,2.00000,0.177582,0.216656,0.165590,0.013303,0.318315,0.106865,0.263175,0.304702,0.161467,0.337680
1,T,8.000000,2.000000,3.00000,0.274724,0.215536,0.021980,0.005451,0.274572,0.250474,0.331033,0.275890,0.006480,0.145453
2,T,10.000000,3.000000,4.00000,0.153886,0.094273,0.290457,0.331082,0.334243,0.019555,0.000567,0.312224,0.133672,0.207436
3,T,32.000000,4.000000,5.00000,0.074366,0.014955,0.270898,0.228132,0.327022,0.113750,0.094053,0.033536,0.045852,0.112914
4,T,34.000000,5.000000,6.00000,0.288061,0.107488,0.103038,0.157380,0.024147,0.298439,0.019059,-0.010697,0.270693,0.152614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,F,1557.000000,780.000000,781.00000,-0.006617,0.072755,0.115307,-0.195828,-0.242715,0.080356,0.205856,0.120827,-0.038762,0.027236
1564,F,1559.000000,781.000000,782.00000,-0.072429,-0.096350,-0.133341,-0.019386,-0.128300,-0.129755,-0.181127,-0.113449,0.045859,-0.046250
1565,F,1565.000000,782.000000,783.00000,-0.260377,-0.098357,-0.149639,-0.246049,-0.251073,0.001518,0.083873,-0.063312,0.112579,-0.040097
1566,F,1567.000000,783.000000,784.00000,-0.062847,-0.011506,-0.144986,-0.136582,-0.272421,-0.041386,0.022248,-0.083673,-0.210300,-0.053975
1567,B,-0.289079,-0.200735,-0.27307,-0.217007,-0.170827,-0.115431,-0.219572,0.029206,0.028447,-0.260692,NaN,NaN,NaN

In [4]:
data.columns  = ["T or F","Node","VtreeId","Variable","0","1","2","3","4","5","6","7","8","9"]

In [5]:
data['max']= data[["0","1","2","3","4","5","6","7","8","9"]].max(axis=1)

In [6]:
data

,T or F,Node,VtreeId,Variable,0,1,2,3,4,5,6,7,8,9,max
0,T,2.000000,1.000000,2.00000,0.177582,0.216656,0.165590,0.013303,0.318315,0.106865,0.263175,0.304702,0.161467,0.337680,0.337680
1,T,8.000000,2.000000,3.00000,0.274724,0.215536,0.021980,0.005451,0.274572,0.250474,0.331033,0.275890,0.006480,0.145453,0.331033
2,T,10.000000,3.000000,4.00000,0.153886,0.094273,0.290457,0.331082,0.334243,0.019555,0.000567,0.312224,0.133672,0.207436,0.334243
3,T,32.000000,4.000000,5.00000,0.074366,0.014955,0.270898,0.228132,0.327022,0.113750,0.094053,0.033536,0.045852,0.112914,0.327022
4,T,34.000000,5.000000,6.00000,0.288061,0.107488,0.103038,0.157380,0.024147,0.298439,0.019059,-0.010697,0.270693,0.152614,0.298439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,F,1557.000000,780.000000,781.00000,-0.006617,0.072755,0.115307,-0.195828,-0.242715,0.080356,0.205856,0.120827,-0.038762,0.027236,0.205856
1564,F,1559.000000,781.000000,782.00000,-0.072429,-0.096350,-0.133341,-0.019386,-0.128300,-0.129755,-0.181127,-0.113449,0.045859,-0.046250,0.045859
1565,F,1565.000000,782.000000,783.00000,-0.260377,-0.098357,-0.149639,-0.246049,-0.251073,0.001518,0.083873,-0.063312,0.112579,-0.040097,0.112579
1566,F,1567.000000,783.000000,784.00000,-0.062847,-0.011506,-0.144986,-0.136582,-0.272421,-0.041386,0.022248,-0.083673,-0.210300,-0.053975,0.022248
1567,B,-0.289079,-0.200735,-0.27307,-0.217007,-0.170827,-0.115431,-0.219572,0.029206,0.028447,-0.260692,NaN,NaN,NaN,0.029206

In [16]:
data_d = data[["0","1","2","3","4","5","6","7","8","9"]]

In [17]:
idxmax = data_d.idxmax(1)

In [19]:
data['maxid'] = pd.DataFrame(idxmax)

In [20]:
data

,T or F,Node,VtreeId,Variable,0,1,2,3,4,5,6,7,8,9,max,maxid
0,T,2.000000,1.000000,2.00000,0.177582,0.216656,0.165590,0.013303,0.318315,0.106865,0.263175,0.304702,0.161467,0.337680,0.337680,9
1,T,8.000000,2.000000,3.00000,0.274724,0.215536,0.021980,0.005451,0.274572,0.250474,0.331033,0.275890,0.006480,0.145453,0.331033,6
2,T,10.000000,3.000000,4.00000,0.153886,0.094273,0.290457,0.331082,0.334243,0.019555,0.000567,0.312224,0.133672,0.207436,0.334243,4
3,T,32.000000,4.000000,5.00000,0.074366,0.014955,0.270898,0.228132,0.327022,0.113750,0.094053,0.033536,0.045852,0.112914,0.327022,4
4,T,34.000000,5.000000,6.00000,0.288061,0.107488,0.103038,0.157380,0.024147,0.298439,0.019059,-0.010697,0.270693,0.152614,0.298439,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,F,1557.000000,780.000000,781.00000,-0.006617,0.072755,0.115307,-0.195828,-0.242715,0.080356,0.205856,0.120827,-0.038762,0.027236,0.205856,6
1564,F,1559.000000,781.000000,782.00000,-0.072429,-0.096350,-0.133341,-0.019386,-0.128300,-0.129755,-0.181127,-0.113449,0.045859,-0.046250,0.045859,8
1565,F,1565.000000,782.000000,783.00000,-0.260377,-0.098357,-0.149639,-0.246049,-0.251073,0.001518,0.083873,-0.063312,0.112579,-0.040097,0.112579,8
1566,F,1567.000000,783.000000,784.00000,-0.062847,-0.011506,-0.144986,-0.136582,-0.272421,-0.041386,0.022248,-0.083673,-0.210300,-0.053975,0.022248,6
1567,B,-0.289079,-0.200735,-0.27307,-0.217007,-0.170827,-0.115431,-0.219572,0.029206,0.028447,-0.260692,NaN,NaN,NaN,0.029206,4

In [21]:
data.to_excel('TFdata.xls',sheet_name='TFdata')

In [7]:
(data["T or F"]== "T").sum()

783

In [8]:
(data["T or F"]== "F").sum()

784

In [9]:
(data["T or F"]== "B").sum()

1

In [10]:
data_T = data.loc[data["T or F"] == "T"]

In [11]:
data_T

,T or F,Node,VtreeId,Variable,0,1,2,3,4,5,6,7,8,9,max
0,T,2.0,1.0,2.0,0.177582,0.216656,0.165590,0.013303,0.318315,0.106865,0.263175,0.304702,0.161467,0.337680,0.337680
1,T,8.0,2.0,3.0,0.274724,0.215536,0.021980,0.005451,0.274572,0.250474,0.331033,0.275890,0.006480,0.145453,0.331033
2,T,10.0,3.0,4.0,0.153886,0.094273,0.290457,0.331082,0.334243,0.019555,0.000567,0.312224,0.133672,0.207436,0.334243
3,T,32.0,4.0,5.0,0.074366,0.014955,0.270898,0.228132,0.327022,0.113750,0.094053,0.033536,0.045852,0.112914,0.327022
4,T,34.0,5.0,6.0,0.288061,0.107488,0.103038,0.157380,0.024147,0.298439,0.019059,-0.010697,0.270693,0.152614,0.298439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,T,1534.0,779.0,780.0,0.166479,0.259175,0.011797,0.047263,0.087689,0.116081,-0.124004,-0.025256,-0.110577,-0.030591,0.259175
779,T,1556.0,780.0,781.0,-0.041083,-0.064537,-0.085140,0.085049,0.129379,-0.014443,-0.018408,0.121589,-0.070134,0.108214,0.129379
780,T,1558.0,781.0,782.0,0.111252,0.290144,0.171703,0.123381,-0.057720,-0.010871,0.010715,-0.073272,-0.102384,0.126585,0.290144
781,T,1564.0,782.0,783.0,0.210899,0.105653,0.026768,0.044055,0.109932,0.341322,0.058817,0.236714,-0.096088,0.276826,0.341322
782,T,1566.0,783.0,784.0,0.282500,0.254153,0.222761,0.203583,0.163021,0.035485,0.227149,0.040139,0.051407,0.046784,0.282500

In [12]:
data_T_d = data_T[["0","1","2","3","4","5","6","7","8","9"]]

In [13]:
new1 = data_T_d.idxmax(1)

In [14]:
data_T['maxid'] = pd.DataFrame(new1)

D:\Software\Software_Install\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
data_T

,T or F,Node,VtreeId,Variable,0,1,2,3,4,5,6,7,8,9,max,maxid
0,T,2.0,1.0,2.0,0.177582,0.216656,0.165590,0.013303,0.318315,0.106865,0.263175,0.304702,0.161467,0.337680,0.337680,9
1,T,8.0,2.0,3.0,0.274724,0.215536,0.021980,0.005451,0.274572,0.250474,0.331033,0.275890,0.006480,0.145453,0.331033,6
2,T,10.0,3.0,4.0,0.153886,0.094273,0.290457,0.331082,0.334243,0.019555,0.000567,0.312224,0.133672,0.207436,0.334243,4
3,T,32.0,4.0,5.0,0.074366,0.014955,0.270898,0.228132,0.327022,0.113750,0.094053,0.033536,0.045852,0.112914,0.327022,4
4,T,34.0,5.0,6.0,0.288061,0.107488,0.103038,0.157380,0.024147,0.298439,0.019059,-0.010697,0.270693,0.152614,0.298439,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,T,1534.0,779.0,780.0,0.166479,0.259175,0.011797,0.047263,0.087689,0.116081,-0.124004,-0.025256,-0.110577,-0.030591,0.259175,1
779,T,1556.0,780.0,781.0,-0.041083,-0.064537,-0.085140,0.085049,0.129379,-0.014443,-0.018408,0.121589,-0.070134,0.108214,0.129379,4
780,T,1558.0,781.0,782.0,0.111252,0.290144,0.171703,0.123381,-0.057720,-0.010871,0.010715,-0.073272,-0.102384,0.126585,0.290144,1
781,T,1564.0,782.0,783.0,0.210899,0.105653,0.026768,0.044055,0.109932,0.341322,0.058817,0.236714,-0.096088,0.276826,0.341322,5
782,T,1566.0,783.0,784.0,0.282500,0.254153,0.222761,0.203583,0.163021,0.035485,0.227149,0.040139,0.051407,0.046784,0.282500,0

In [12]:
data_F = data.loc[data["T or F"] == "F"]

In [13]:
data_F_d = data_F[["0","1","2","3","4","5","6","7","8","9"]]

In [14]:
data_F_d

,0,1,2,3,4,5,6,7,8,9
783,-0.128356,-0.164700,-0.178630,-0.179248,-0.026863,-0.058055,-0.223650,-0.057516,-0.174159,-0.106451
784,-0.139964,0.007684,-0.219761,-0.226901,-0.126082,-0.009988,-0.014669,-0.087524,-0.060077,0.034283
785,-0.212299,-0.049920,-0.306267,-0.090300,-0.249560,-0.020236,-0.203250,-0.158270,-0.228905,-0.012340
786,-0.025649,-0.235287,-0.205519,-0.062374,-0.181989,-0.051654,-0.086237,-0.195033,-0.251372,-0.044299
787,0.008421,-0.287764,-0.025904,-0.056280,-0.056536,-0.281507,-0.115643,-0.108499,-0.120652,-0.059102
...,...,...,...,...,...,...,...,...,...,...
1562,-0.001885,-0.028630,-0.212128,-0.037033,-0.046918,-0.104042,0.178799,-0.030628,0.201561,-0.124791
1563,-0.006617,0.072755,0.115307,-0.195828,-0.242715,0.080356,0.205856,0.120827,-0.038762,0.027236
1564,-0.072429,-0.096350,-0.133341,-0.019386,-0.128300,-0.129755,-0.181127,-0.113449,0.045859,-0.046250
1565,-0.260377,-0.098357,-0.149639,-0.246049,-0.251073,0.001518,0.083873,-0.063312,0.112579,-0.040097
1566,-0.062847,-0.011506,-0.144986,-0.136582,-0.272421,-0.041386,0.022248,-0.083673,-0.210300,-0.053975

In [16]:
new = data_F_d.idxmax(1)

In [26]:
data_F['maxid'] = pd.DataFrame(new)

D:\Software\Software_Install\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
data_F

,T or F,Node,VtreeId,Variable,0,1,2,3,4,5,6,7,8,9,max,maxid
783,F,1.0,0.0,1.0,-0.128356,-0.164700,-0.178630,-0.179248,-0.026863,-0.058055,-0.223650,-0.057516,-0.174159,-0.106451,-0.026863,4
784,F,3.0,1.0,2.0,-0.139964,0.007684,-0.219761,-0.226901,-0.126082,-0.009988,-0.014669,-0.087524,-0.060077,0.034283,0.034283,9
785,F,9.0,2.0,3.0,-0.212299,-0.049920,-0.306267,-0.090300,-0.249560,-0.020236,-0.203250,-0.158270,-0.228905,-0.012340,-0.012340,9
786,F,11.0,3.0,4.0,-0.025649,-0.235287,-0.205519,-0.062374,-0.181989,-0.051654,-0.086237,-0.195033,-0.251372,-0.044299,-0.025649,0
787,F,33.0,4.0,5.0,0.008421,-0.287764,-0.025904,-0.056280,-0.056536,-0.281507,-0.115643,-0.108499,-0.120652,-0.059102,0.008421,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,F,1535.0,779.0,780.0,-0.001885,-0.028630,-0.212128,-0.037033,-0.046918,-0.104042,0.178799,-0.030628,0.201561,-0.124791,0.201561,8
1563,F,1557.0,780.0,781.0,-0.006617,0.072755,0.115307,-0.195828,-0.242715,0.080356,0.205856,0.120827,-0.038762,0.027236,0.205856,6
1564,F,1559.0,781.0,782.0,-0.072429,-0.096350,-0.133341,-0.019386,-0.128300,-0.129755,-0.181127,-0.113449,0.045859,-0.046250,0.045859,8
1565,F,1565.0,782.0,783.0,-0.260377,-0.098357,-0.149639,-0.246049,-0.251073,0.001518,0.083873,-0.063312,0.112579,-0.040097,0.112579,8
1566,F,1567.0,783.0,784.0,-0.062847,-0.011506,-0.144986,-0.136582,-0.272421,-0.041386,0.022248,-0.083673,-0.210300,-0.053975,0.022248,6

In [37]:
data_F_sum_maxid = data_F.groupby(['maxid']).size()
data_T_sum_maxid = data_T.groupby(['maxid']).size()

In [36]:
data_F_sum_maxid

maxid
0    77
1    77
2    73
3    77
4    57
5    95
6    74
7    87
8    80
9    87
dtype: int64

In [38]:
data_T_sum_maxid

maxid
0    64
1    89
2    58
3    75
4    70
5    77
6    80
7    90
8    84
9    96
dtype: int64